*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: "Tinos", serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

#card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#player-card-container,
#dealer-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#player-card-container {
  padding-bottom: 1.5rem;
}

.card {
  position: relative;
  height: 12rem;
  width: 8.5rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  background-color: white;
  animation-name: example;
  animation-duration: 0.8s;
}

@keyframes example {
  0% {
    top: -50vh;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.back-of-card {
  position: relative;
  height: 12rem;
  width: 8.5rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/back-of-card.jpg);
  background-size: cover;
  animation-name: example;
  animation-duration: 0.8s;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1.5rem;
}

.card::before {
  top: 1rem;
  left: 1rem;
}

.card::after {
  bottom: 1rem;
  right: 1rem;
  transform: rotate(180deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  font-size: 1.5rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#button-container {
  display: flex;
  gap: 1rem;
}

button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.8rem 1.6rem;
  text-align: center;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

button:hover {
  background-color: #faaf36;
  color: #fff;
}

#game-info-container {
  font-size: 1.5rem;
  color: white;
}

#card-container {
  font-size: 1.2rem;
  color: white;
}

:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
}

#title-container {
  display: grid;
  grid-template-areas: "overlap";
  place-content: center;
  text-transform: uppercase;
  height: 50vh;
}
#title-container > div {
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 10rem;
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}
#title-back {
  background-image: repeating-linear-gradient(
    105deg,
    var(--gold) 0%,
    var(--dark-shadow) 5%,
    var(--gold) 12%
  );
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}
#title-front {
  background-image: repeating-linear-gradient(
    5deg,
    var(--gold) 0%,
    var(--light-shadow) 23%,
    var(--gold) 31%
  );
  color: #a70101;
  transform: scale(1);
}
