*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Tinos", serif;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  height: 12rem;
  width: 7rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1.5rem;
}

.card::before {
  top: 1rem;
  left: 1rem;
}

.card::after {
  bottom: 1rem;
  right: 1rem;
  transform: rotate(180deg);
}
